<%- include('partials/header') %>
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">DAILY JOURNAL</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
         
         
          <li><% if(typeof user != 'undefined') { %>
  <a href="/logout" style="visibility: visible">LOGOUT</a> <% } else { %><a href="/login" style="visibility: visible">LOGIN</a> <% } %></li>
          <li><% if(typeof user != 'undefined') { %>
  <a href="/profile" style="visibility: visible">PROFILE</a> <% } %></li>
   <li><% if(typeof user != 'undefined') { %>
  <a href="/compose" style="visibility: visible">PUBLISH</a> <% } %></li>
          
          </li>
          <li><% if(typeof user == 'undefined') { %>
  <a href="/register" style="visibility: visible">REGISTER</a> <% } %></li>
        </ul>
      </div>
    </nav>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a
            class="btn btn-block btn-social btn-google"
            href="/auth/google"
            role="button"
          >
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
        <div class="card-body">
          <a
            class="btn btn-block btn-social btn-facebook"
            href="/auth/facebook"
            role="button"
          >
            <i class="fab fa-facebook"></i>
            Sign In with Facebook
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
